#chatInputArea {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #0f0f0f;
}

#chatInputArea input {
  flex: 1;
  padding: 10px;
  border: none;
  background: #1f1f1f;
  color: #00ffee;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 5px;
}

#sendBtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #00ffee;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sendBtn:hover {
  background: #00ddcc;
}
